/* Note all colors with # taken from https://www.w3schools.com/cssref/css_colors.asp */


/* Set background */
html {
  background-color: whitesmoke;
}

/* styles for the body of the site */
body {
  width: 85%;
  background-color: white;
  padding: 20px 40px 40px 40px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

/* styles for the table of the site */
table {
  border-collapse: collapse;
  border: 2px black solid;
  font: 12px sans-serif;
}




/* styles visited and unvisited link */
a:link, a:visited {
  text-decoration: none;
  color: blue;
  ;
}

/* styles for mouse over link and mouse click on link */
a:hover,a:active {
  color: darkblue;
  text-decoration: none;
  font-size:150%
  ;
}





/* style for text over image - adapted from https://www.w3schools.com/howto/howto_css_image_text.asp*/
.text_over_image {
  font-size:10vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* style for box shadow - adapted from https://www.w3schools.com/howto/howto_css_image_text.asp*/
.box_shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.container_white {
  position: relative;
  text-align: center;
  color: white;
}

/* styles for polaroid cards*/
.polaroid {
  width: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.container_black_flex {
  display: flex;
  text-align: center;
}


a:link, a:visited {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
  }


/* styles for headline */
#maintitle {
  color: white;
  font-size:50px;
  font-weight:bold
}

/* styles for subheadline */
#mainsubtitle{
 color: black;
  font-size:40px;
  font-weight:bold
}

/* styles for mainintro [Source for colors of box-shadow: https://www.w3schools.com/css/css3_shadows_box.asp]*/
#mainintro{
  padding: 10px;
  background-color: #FFFAF0;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* styles for mainoutro*/
#mainoutro {
  color: black;
}



/* styles for footer*/
#footer {
  color: darkgrey;
  background-color: whitesmoke;
  text-align: center;
  padding: 10px;
  border: 1px #DCDCDC;
  font-style:italic;
}

/* styles for intersectiontext*/
.intersectiontext
{
  color: black;
}

/* styles for image */
img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

/* styles for sectiontitle */
.sectiontitle{
  color: black;
  font-size:30px;
  font-weight:bold
}

/* styles for sectionsubtitle */
.sectionsubtitle {
  color: black;
  font-size:20px;
  font-style:italic;	
}


/* styles for sectionintro */
.sectionintro {
 color: black;
}


/* styles for issuetitle */
.issuetitle {
  color: black;
  font-size:16px;
  font-style:italic;
}

/* styles for issueintro */
.issueintro {

 color: black;
}

/* styles for issuetext */
.issuetext {

 color: black;
}

/* styles for graphintro */
.graphintro {

 color: black;
}


/* styles for graphsubtext */
.graphsubtext {

 color: darkgrey;
}

/* styles for sectionoutro*/
.sectionoutro {

 color: black;
}

/* styles for the body of the site */

body {
  font: 10px sans-serif;
}

.chart .axis path,
.chart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.chart .line {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}

.chart .overlay {
  fill: none;
  pointer-events: all;
}

.chart .focus circle {
  fill: none;
  stroke: black;
}
